<%= form_for(featurename) do |f| %>
  <% if featurename.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(featurename.errors.count, "error") %> prohibited this featurename from being saved:</h2>

      <ul>
      <% featurename.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attribute %>
    <%= f.text_field :attribute %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
